<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Optimizer</a></li>
            <li><a href="#">Slate Simulator</a></li>
            <li><a href="#">Late Swaptimizer</a></li>
            <li><a href="#">Contest Simulator</a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>