<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <img src="shipit.png" alt="Logo" class="logo">
        <ul>
            <li><a href="#">NFL</a></li>
            <li><a href="#">NBA</a></li>
            <li><a href="#">PGA</a></li>
            <li><a href="#">MLB</a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>